<h1>Add a new Place</h1>
<form action="/places" method="post">
  <label for="cityName">Enter city name:</label>
  <input name="cityName" id="cityName" type="text">
  <label for="description">Enter description of your time in this city:</label>
  <input name="description" id="description" type="text">
  <label for="rating">Rate this city:</label>
  <select name="rating" id="rating">
    <option>10</option>
    <option>9</option>
    <option>8</option>
    <option>7</option>
    <option>6</option>
    <option>5</option>
    <option>4</option>
    <option>3</option>
    <option>2</option>
    <option>1</option>
  </select>
  <button type="submit">Submit</button>
</form>
